.head{
    text-align: center;
    color:rgb(16, 6, 26);
    font-size: 80px;
    background-color:rgb(244, 202, 140);
}
.main{
   width: 450px;
   border: 3px solid rgb(39, 7, 7);
}
.main-img{
    width: 535px;
}
